@charset "utf-8";
//按钮 转成rem 再转成
@import "cf-varia";
@import "cf-func";
.btn{
  cursor:pointer;
  text-align: center;
  padding: remToPx(0.25rem) remToPx(0.6rem);
  vertical-align: middle;
  @include prefix(border-radius,remToPx(0.2rem));
  @include prefix(box-sizing,border-box);
  border:1px solid #bfcbd9;
  background-color: transparent;
  &:hover,:focus{
    color: #20a0ff;;
    border-color: #20a0ff;
  }
  display: inline-block;
  white-space: nowrap;
  -webkit-appearance: none;
}
.btn-primary{
  background-color: #20A0FF;
  border-color: #20A0FF;
}
