.btn {
  cursor: pointer;
  text-align: center;
  padding: 0.4rem 0.8rem;
  vertical-align: middle;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  -o-background-clip: border-box;
  -ms-background-clip: border-box;
  background-clip: border-box;
  border: 1px solid #bfcbd9;
  background-color: transparent;
  display: inline-block;
  white-space: nowrap;
  -webkit-appearance: none;
}

.btn:hover, .btn :focus {
  color: #353535;
  background-color: #dedede;
  border-color: #a1a1a1;
}

.btn-primary {
  background-color: #3280FC;
  border-color: #1970fc;
  color: #fff;
}

.btn-primary:hover, .btn-primary :focus {
  background-color: #0a67fb;
  border-color: #0354d4;
  color: #fff;
}
