@charset "utf-8";
//按钮 转成rem 再转成
@import "cf-varia";
@import "cf-func";
.btn{
  cursor:pointer;
  text-align: center;
  padding: remToPx(0.25rem) remToPx(0.6rem);
  vertical-align: middle;
  -webkit-border-radius:remToPx(0.2rem);
  -moz-border-radius:remToPx(0.2rem);
  border-radius:remToPx(0.2rem);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  border:1px solid #bfcbd9;
  background-color: transparent;
}
.btn:hover,
.btn:focus {
  color: #20a0ff;;
  border-color: #20a0ff;
}
.btn-primary{

}