@charset "utf-8";
@mixin flex{
  display: -moz-flex; // Firefox 18+
  display: -ms-flex; // IE 10+
  display: -o-flex; // Opera 15+
  display: flex; // Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+
  display: -ms-flexbox; // IE 10
  display: -webkit-box; // Chrome 4+, Safari 3.1, iOS Safari 3.2+
  display: -moz-box; // Firefox 17-
  display: -webkit-flex; // Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16
  display: box;//W3C
}
@mixin flex-1{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex:1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
@mixin flex-2{
  -webkit-flex: 2;
  -ms-flex: 2;
  flex:2;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
}

@mixin flex-row{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
}
@mixin flex-column{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

@mixin align-start{
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -moz-box-align: start;
  -webkit-box-align: start;
  box-align: start;
}

@mixin align-center{
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}
@mixin align-end{
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -moz-box-align: end;
  -webkit-box-align: end;
  box-align: end;
}

@mixin justify-start{
  -webkit-justify-content: flex-start;
  -ms-flex-pack:start;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
}
@mixin justify-center{
  -webkit-justify-content: center;
  -ms-flex-pack:center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
@mixin justify-end{
  -webkit-justify-content: flex-end;
  -ms-flex-pack:end;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
}
@mixin line-1{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
@mixin line-2{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}