@charset "utf-8";
//flex 布局
.flex{
  display: -webkit-box; // Chrome 4+, Safari 3.1, iOS Safari 3.2+
  display: -moz-box; // Firefox 17-
  display: -webkit-flex; // Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16
  display: -moz-flex; // Firefox 18+
  display: -ms-flex; // IE 10+
  display: -o-flex; // Opera 15+
  display: -ms-flexbox; // IE 10
  display: flex; // Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+
}
@for $i from 1 through 3 {
  .flex-#{$i}{
    -webkit-box-flex: $i;
    -moz-box-flex: $i;
    -webkit-flex: $i;
    -ms-flex: $i;
    flex:$i;
  }
}

.flex-row{
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column{
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.align-start{
  -moz-box-align: start;
  -ms-box-align: start;
  -webkit-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}

.align-center{
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.align-end{
  -moz-box-align: end;
  -ms-box-align: end;
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}

.justify-start{
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-center{
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.justify-end{
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-box-pack: end;
  -o-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}