@charset "utf-8";
@import "cf-func.scss";
@import "cf-varia.scss";
//modal 遮罩
.modal{
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  z-index: 1000;
  overflow: hidden;
  display: block;
  &.fade{
    opacity: 0;
    filter: alpha(opacity=0);
    &.in{
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
}
.fade{
  @include prefix(transition,opacity .15s linear);
}
.modal-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
  background-color: #000;
  &.fade{
    filter: alpha(opacity=0);
    opacity: 0;
    &.in{
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  }
}