html {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
}

* {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  margin: 0;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}
