.font {
    font-size: .7rem
}

.font-size-10px {
    font-size: .5rem
}

.font-size-12px {
    font-size: .6rem
}

.font-size-16px {
    font-size: .8rem
}

.font-size-18px {
    font-size: .9rem
}

.font-size-20px {
    font-size: 1rem
}

.font-color-success {
    color: #13ce66
}

.font-color-warning {
    color: #f7ba2a
}

.font-color-danger {
    color: #ff4949
}

.font-color-info {
    color: #03b8cf
}

.font-color-important {
    color: #bd7b46
}

.font-color-special {
    color: #8666b8
}

.font-color-black {
    color: #1f2d3d
}

.font-color-white {
    color: #fff
}

.font-color-dark {
    color: #353535
}

.font-color-gray {
    color: grey
}

.font-color-gray-light {
    color: #ddd
}

.font-color-gray-lighter {
    color: #e5e5e5
}

.font-color-gray-pale {
    color: #f1f1f1
}

.font-color-gray-dark {
    color: #333
}

.font-color-gray-darker {
    color: #222
}

.font-color-silver {
    color: #8492a6
}

.font-color-light-silver {
    color: #99a9bf
}

.font-color-light-black {
    color: #324057
}

.font-color-light-blue {
    color: #58b7ff
}

.font-color-blue {
    color: #20a0ff
}

.font-color-dark-blue {
    color: #1d8ce0
}