.bg-success {
    background-color: #13ce66
}

.bg-warning {
    background-color: #f7ba2a
}

.bg-danger {
    background-color: #ff4949
}

.bg-info {
    background-color: #03b8cf
}

.bg-important {
    background-color: #bd7b46
}

.bg-special {
    background-color: #8666b8
}

.bg-black {
    background-color: #1f2d3d
}

.bg-white {
    background-color: #fff
}

.bg-dark {
    background-color: #353535
}

.bg-gray {
    background-color: grey
}

.bg-gray-light {
    background-color: #ddd
}

.bg-gray-lighter {
    background-color: #e5e5e5
}

.bg-gray-pale {
    background-color: #f1f1f1
}

.bg-gray-dark {
    background-color: #333
}

.bg-gray-darker {
    background-color: #222
}

.bg-silver {
    background-color: #8492a6
}

.bg-light-silver {
    background-color: #99a9bf
}

.bg-light-black {
    background-color: #324057
}

.bg-light-blue {
    background-color: #58b7ff
}

.bg-blue {
    background-color: #20a0ff
}

.bg-dark-blue {
    background-color: #1d8ce0
}

.bg-danger-pale {
    background-color: #ffe5e0
}

.bg-warning-pale {
    background-color: #fff0d5
}

.bg-success-pale {
    background-color: #ddf4df
}

.bg-info-pale {
    background-color: #ddf3f5
}

.bg-important-pale {
    background-color: #f7ebe1
}

.bg-special-pale {
    background-color: #f5eeff
}