html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'Microsoft Yahei','PingFang SC','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

div {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex
}

* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-background-clip: border-box;
    -moz-background-clip: border;
    background-clip: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    width: 100%;
    height: 100%;
    font-size: .7rem;
    margin: 0
}

a,a:active,a:hover,a:link,a:visited {
    text-decoration: none
}

.hidden {
    display: none
}

.ie-lt {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999999;
    padding: .8rem 1rem;
    text-align: center;
    font-size: 1rem;
    background-color: #ddf3f5;
    color: #ff4949;
    display: block
}

.font {
    font-size: .7rem
}

.font-size-10px {
    font-size: .5rem
}

.font-size-12px {
    font-size: .6rem
}

.font-size-16px {
    font-size: .8rem
}

.font-size-18px {
    font-size: .9rem
}

.font-size-20px {
    font-size: 1rem
}

.font-color-success {
    color: #13ce66
}

.font-color-warning {
    color: #f7ba2a
}

.font-color-danger {
    color: #ff4949
}

.font-color-info {
    color: #03b8cf
}

.font-color-important {
    color: #bd7b46
}

.font-color-special {
    color: #8666b8
}

.font-color-black {
    color: #1f2d3d
}

.font-color-white {
    color: #fff
}

.font-color-dark {
    color: #353535
}

.font-color-gray {
    color: grey
}

.font-color-gray-light {
    color: #ddd
}

.font-color-gray-lighter {
    color: #e5e5e5
}

.font-color-gray-pale {
    color: #f1f1f1
}

.font-color-gray-dark {
    color: #333
}

.font-color-gray-darker {
    color: #222
}

.font-color-silver {
    color: #8492a6
}

.font-color-light-silver {
    color: #99a9bf
}

.font-color-light-black {
    color: #324057
}

.font-color-light-blue {
    color: #58b7ff
}

.font-color-blue {
    color: #20a0ff
}

.font-color-dark-blue {
    color: #1d8ce0
}

.bg-success {
    background-color: #13ce66
}

.bg-warning {
    background-color: #f7ba2a
}

.bg-danger {
    background-color: #ff4949
}

.bg-info {
    background-color: #03b8cf
}

.bg-important {
    background-color: #bd7b46
}

.bg-special {
    background-color: #8666b8
}

.bg-black {
    background-color: #1f2d3d
}

.bg-white {
    background-color: #fff
}

.bg-dark {
    background-color: #353535
}

.bg-gray {
    background-color: grey
}

.bg-gray-light {
    background-color: #ddd
}

.bg-gray-lighter {
    background-color: #e5e5e5
}

.bg-gray-pale {
    background-color: #f1f1f1
}

.bg-gray-dark {
    background-color: #333
}

.bg-gray-darker {
    background-color: #222
}

.bg-silver {
    background-color: #8492a6
}

.bg-light-silver {
    background-color: #99a9bf
}

.bg-light-black {
    background-color: #324057
}

.bg-light-blue {
    background-color: #58b7ff
}

.bg-blue {
    background-color: #20a0ff
}

.bg-dark-blue {
    background-color: #1d8ce0
}

.bg-danger-pale {
    background-color: #ffe5e0
}

.bg-warning-pale {
    background-color: #fff0d5
}

.bg-success-pale {
    background-color: #ddf4df
}

.bg-info-pale {
    background-color: #ddf3f5
}

.bg-important-pale {
    background-color: #f7ebe1
}

.bg-special-pale {
    background-color: #f5eeff
}

.btn {
    cursor: pointer;
    text-align: center;
    padding: .4rem .8rem;
    vertical-align: middle;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -o-border-radius: .2rem;
    -ms-border-radius: .2rem;
    border-radius: .2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    -ms-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid #bfcbd9;
    background-color: transparent;
    color: #353535;
    display: inline-block;
    white-space: nowrap;
    -webkit-appearance: none
}

.btn:focus,.btn:hover {
    background-color: #dedede;
    border-color: #a1a1a1
}

.btn.disabled,.btn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

.btn.disabled :focus,.btn.disabled:hover,.btn[disabled] :focus,.btn[disabled]:hover {
    color: #aaa;
    text-decoration: none
}

.btn-primary {
    background-color: #3280fc;
    border-color: #1970fc;
    color: #fff
}

.btn-primary:focus,.btn-primary:hover {
    background-color: #0a67fb;
    border-color: #0354d4;
    color: #fff
}

.btn-info {
    background-color: #03b8cf;
    border-color: #03a2b6;
    color: #fff
}

.btn-info:focus,.btn-info:hover {
    background-color: #0294a7;
    border-color: #026c7a;
    color: #fff
}

.btn-success {
    background-color: #13ce66;
    border-color: #329d38;
    color: #fff
}

.btn-success:focus,.btn-success:hover {
    background-color: #2e9134;
    border-color: #236e27;
    color: #fff
}

.btn-warning {
    background-color: #f7ba2a;
    border-color: #ed980f;
    color: #fff
}

.btn-warning:focus,.btn-warning:hover {
    background-color: #df8f0e;
    border-color: #b4730c;
    color: #fff
}

.btn-danger {
    background-color: #ff4949;
    border-color: #e64525;
    color: #fff
}

.btn-danger:focus,.btn-danger:hover {
    background-color: #c63317;
    border-color: #c62817;
    color: #fff
}

.btn-link {
    color: #145ccd;
    background: 0 0;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none
}

.btn-link:focus,.btn-link:hover {
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none
}

.btn-block {
    display: block;
    width: 100%
}