html {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
}

* {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-background-clip: border-box;
  -moz-background-clip: border;
  background-clip: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  margin: 0;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.ie-lt {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999999;
  padding: 0.8rem 1rem;
  text-align: center;
  font-size: 1rem;
  background-color: #DDF3F5;
  color: #FF4949;
  display: block;
}

.font {
  font-size: 0.7rem;
}

.font-size-10px {
  font-size: 0.5rem;
}

.font-size-12px {
  font-size: 0.6rem;
}

.font-size-16px {
  font-size: 0.8rem;
}

.font-size-18px {
  font-size: 0.9rem;
}

.font-size-20px {
  font-size: 1rem;
}

.font-color-success {
  color: #13CE66;
}

.font-color-warning {
  color: #F7BA2A;
}

.font-color-danger {
  color: #FF4949;
}

.font-color-info {
  color: #03B8CF;
}

.font-color-important {
  color: #BD7B46;
}

.font-color-special {
  color: #8666B8;
}

.font-color-black {
  color: #1F2D3D;
}

.font-color-white {
  color: #fff;
}

.font-color-dark {
  color: #353535;
}

.font-color-gray {
  color: #808080;
}

.font-color-gray-light {
  color: #DDDDDD;
}

.font-color-gray-lighter {
  color: #E5E5E5;
}

.font-color-gray-pale {
  color: #F1F1F1;
}

.font-color-gray-dark {
  color: #333333;
}

.font-color-gray-darker {
  color: #222222;
}

.font-color-silver {
  color: #8492A6;
}

.font-color-light-silver {
  color: #99A9BF;
}

.font-color-light-black {
  color: #324057;
}

.font-color-light-blue {
  color: #58B7FF;
}

.font-color-blue {
  color: #20A0FF;
}

.font-color-dark-blue {
  color: #1D8CE0;
}

.bg-success {
  background-color: #13CE66;
}

.bg-warning {
  background-color: #F7BA2A;
}

.bg-danger {
  background-color: #FF4949;
}

.bg-info {
  background-color: #03B8CF;
}

.bg-important {
  background-color: #BD7B46;
}

.bg-special {
  background-color: #8666B8;
}

.bg-black {
  background-color: #1F2D3D;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #353535;
}

.bg-gray {
  background-color: #808080;
}

.bg-gray-light {
  background-color: #DDDDDD;
}

.bg-gray-lighter {
  background-color: #E5E5E5;
}

.bg-gray-pale {
  background-color: #F1F1F1;
}

.bg-gray-dark {
  background-color: #333333;
}

.bg-gray-darker {
  background-color: #222222;
}

.bg-silver {
  background-color: #8492A6;
}

.bg-light-silver {
  background-color: #99A9BF;
}

.bg-light-black {
  background-color: #324057;
}

.bg-light-blue {
  background-color: #58B7FF;
}

.bg-blue {
  background-color: #20A0FF;
}

.bg-dark-blue {
  background-color: #1D8CE0;
}

.bg-danger-pale {
  background-color: #FFE5E0;
}

.bg-warning-pale {
  background-color: #FFF0D5;
}

.bg-success-pale {
  background-color: #DDF4DF;
}

.bg-info-pale {
  background-color: #DDF3F5;
}

.bg-important-pale {
  background-color: #F7EBE1;
}

.bg-special-pale {
  background-color: #F5EEFF;
}

.btn {
  cursor: pointer;
  text-align: center;
  padding: 0.4rem 0.8rem;
  vertical-align: middle;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  -o-background-clip: border-box;
  -ms-background-clip: border-box;
  background-clip: border-box;
  border: 1px solid #bfcbd9;
  background-color: transparent;
  color: #353535;
  display: inline-block;
  white-space: nowrap;
  -webkit-appearance: none;
}

.btn:hover, .btn:focus {
  background-color: #dedede;
  border-color: #a1a1a1;
}

.btn.disabled, .btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn.disabled:hover, .btn.disabled :focus, .btn[disabled]:hover, .btn[disabled] :focus {
  color: #aaa;
  text-decoration: none;
}

.btn-primary {
  background-color: #3280FC;
  border-color: #1970fc;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #0a67fb;
  border-color: #0354d4;
  color: #fff;
}

.btn-info {
  background-color: #03B8CF;
  border-color: #03a2b6;
  color: #fff;
}

.btn-info:hover, .btn-info:focus {
  background-color: #0294a7;
  border-color: #026c7a;
  color: #fff;
}

.btn-success {
  background-color: #13CE66;
  border-color: #329d38;
  color: #fff;
}

.btn-success:hover, .btn-success:focus {
  background-color: #2e9134;
  border-color: #236e27;
  color: #fff;
}

.btn-warning {
  background-color: #F7BA2A;
  border-color: #ed980f;
  color: #fff;
}

.btn-warning:hover, .btn-warning:focus {
  background-color: #df8f0e;
  border-color: #b4730c;
  color: #fff;
}

.btn-danger {
  background-color: #FF4949;
  border-color: #e64525;
  color: #fff;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #c63317;
  border-color: #c62817;
  color: #fff;
}

.btn-link {
  color: #145ccd;
  background: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.btn-link:hover, .btn-link:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.btn-block {
  display: block;
  width: 100%;
}
