@charset "utf-8";
//字体
@import "cf-varia.scss";
@import "cf-func.scss";
.font{
  font-size: remToPx(0.7rem);
}

@each $key,$val in $size{
  .font-size-#{$key}{
    font-size: remToPx($val);
  }
}

@each $key,$val in $messageColor{
  .font-color-#{$key}{
    color: $val;
  }
}

@each $key,$val in $baseColor{
  .font-color-#{$key}{
    color: $val;
  }
}