@charset "utf-8";
//变量
$env:'web'!default;
$messageColor:(success:#13CE66, warning:#F7BA2A, danger:#FF4949,info:#03B8CF,important:#BD7B46,special:#8666B8);
$baseColor:(black:#1F2D3D,white:#fff,dark:#353535,gray:#808080,gray-light:#DDDDDD,gray-lighter:#E5E5E5,gray-pale:#F1F1F1,gray-dark:#333333,gray-darker:#222222,silver:#8492A6,light-silver:#99A9BF,light-black:#324057,light-blue:#58B7FF, blue:#20A0FF, dark-blue:#1D8CE0);
$paleColor:(danger-pale:#FFE5E0,warning-pale:#FFF0D5,success-pale:#DDF4DF,info-pale:#DDF3F5,important-pale:#F7EBE1,special-pale:#F5EEFF);
$size:(10px:0.5rem , 12px:0.6rem , 16px:0.8rem , 18px:0.9rem , 20px:1rem);
$radiusSize:4px;
$borderColor:#e3e3e3;
$testColor:'#e3e3e3';